<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="userService" class="com.knight.springframework.test.bean.UserService">
        <property name="uid" value="1001"/>
        <property name="compay" value="shopee"/>
        <property name="city" value="shenzhen"/>
        <property name="userDao" value="userDao"/>
    </bean>

</beans>