<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userService" class="com.knight.springframework.test.bean.UserService" scope="prototype">
        <property name="uid" value="10002"/>
        <property name="company" value="Tencent"/>
        <property name="location" value="shenzhen"/>
        <property name="userDao" ref="proxyBeanFactory"/>
    </bean>

    <bean id="proxyBeanFactory" class="com.knight.springframework.test.bean.ProxyBeanFactory"/>

</beans>